.footerContainer
  width: 100%
  background-color: #ebebeb 
  padding-bottom: 50px

  h2
   font-size: 20px
   color: #333333
   font-weight: 700
   display: block
   padding-bottom: 20px
   margin-bottom: 0
   
  p
   font-size: 14px
   line-height: 20px
   color: #77838f
   margin-bottom: 16px

  .footerTop
    width: 100% 
    padding: 20px 0
    font-family: 'Raleway', sans-serif

    div
      margin: 0 auto
      display: flex
      flex-wrap: wrap
      justify-content: row
      align-items: baseline
      justify-content: space-between
      @media (min-width: 768px)
        width: 750px

      @media (min-width: 992px)
        width: 970px

      @media (min-width: 1200px)
        width: 1170px

      div
        display: flex
        min-width: 250px
        max-width: 300px
        flex-direction: column
        padding: 15px

        a
          padding-bottom: 7px
          font-size: 14px
          line-height: 24px
          text-decoration: none
          color: #767979

        a:hover
          color: #377dff

      
   